<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% $title || 'p6d-guard' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/micro_template.js"></script>
    <script src="/static/js/strftime.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script src="/static/js/micro-location.js"></script>
    <script src="/static/js/micro_dispatcher.js"></script>
    <script src="/static/js/xsrf-token.js"></script>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="/static/js/main.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">p6d-guard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="container">
        <div id="main">
            [% content | mark_raw %]
        </div>
        <footer class="footer">
            © CIB-MC/RainyVillage
        </footer>
    </div>
</body>
</html>
